.footer{
	
	background-color: #000d1a;
	color: white;
	
}
footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

span.error{
color:red;
}

.account{
	padding-top: 90px;
}

 ul.myaccount-link-list li a span {
    display: block;
    padding: 13px 15px 15px 17px;
    overflow: hidden;
    border: 1px solid;
    margin-left: 52px;
    border-color: #fff #fff #fff #c8c8c8;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
	
}

ul.myaccount-link-list li a i {
    font-size: 25px;
    color: #fd7e01;
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    height: 100%;
    padding: 10px 0 0 0;
    text-align: center;
    border: 1px solid #fff;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
	
}


ul.myaccount-link-list li a {
    display: block;
    overflow: hidden;
    font: 600 16px/20px "Open Sans",sans-serif;
    color: #555454;
    text-shadow: 0 1px white;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    border: 1px solid;
    border-color: #cacaca #b7b7b7 #9a9a9a #b7b7b7;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f7f7f7),color-stop(100%,#ededed));
    background-image: -moz-linear-gradient(#f7f7f7,#ededed);
    background-image: -webkit-linear-gradient(#f7f7f7,#ededed);
    background-image: linear-gradient(#f7f7f7,#ededed);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	margin-bottom:20px;
}















